.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 650px;
}

.headerWrapper div {
  background-color: black;

}

.headerText {
  color: white;
  padding: 0.5em;
  text-align: center;
}

.logo img {
  width: 130px;
}

.productWrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.imageWrapper {
  width: auto;
}

.imageWrapper img {
  max-width: 200px;
}

.infoWrapper {
  padding: 1em;
}